{% extends 'base.html' %}

{% block title %}{{ card.name }} - Details{% endblock %}

{% block body %}
<h1>{{ card.name }}</h1>

<p>
  {{ card.text }}
</p>

<img src="{{ card.imageUrl }}">
  
<form action="/add_to_deck/{{card.id}}" method="POST">
  <div class="dropdown">
    <div class="user-decks"> 
      <select name="Deck" id="deck-name">
      {% for deck in decks %}
     <option value="{{ deck.deck_name }}">{{ deck.deck_name }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <input type="submit">
</form>


{% endblock %}