{% extends 'base.html' %}

{% block title %}{{ deck.deck_name }} - Details{% endblock %}



{% block mainContent %}
    {% for card in cards %}
    <div class="card" style="width: 18rem;">
        <img src="{{card.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ card.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ card.rarity}}</h6>
        </div>
        <form action="/remove_card" method="POST"> 
            <input type="hidden" name="card_to_remove" value='{{ card.id }}'>
            <input type="hidden" name="deck_to_remove_from" value="{{ deck.deck_name }}">
            
          <input type="submit" value="Delete">
        </form>
      </div>
      {% endfor %}
{% endblock %}
