{% extends 'base.html' %}



{% block mainContent%}
  <nav>
    <section id="links-left" >
      Find Game Stores!
      </section>
      
      <button id="geocode-address">
        Location Please?
      </button>
    </section>

   
  </nav>

  <section class="map">
    <div id="map"></div>
  </section>

  <script src="/static/maps.js"></script>
 

<script 
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf0UdtiM3tO7GF6ANSYRbsd4ka2sZz_m0&libraries=places&callback=initMap">
</script>
{% endblock %}


