{% extends 'base.html' %}

{% block title %}{% endblock %}
{%block header %}
<style>
    body {
       background-image: url("/static/images/wallpaperflare.com_wallpaper\ \(1\).jpg");
    }
  </style>
{% endblock %}
{% block body %}
<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black">
  
          <div class="px-5 ms-l-2">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">
             
            </span>
          </div>
  
          <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form action="/users" method="POST" style="width: 23rem;">
  
              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3>
  
              <div class="form-outline mb-4">
                <input type="username" id="username" class="form-control form-control-lg" name="username" />
                <label class="form-label" for="form2Example18">Username</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control form-control-lg" name="email"/>
                <label class="form-label" for="form2Example28">Email</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" name="password"/>
                <label class="form-label" for="form2Example28">Password</label>
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit">Create Account</button>
              </div>
           
            
              
              
  
            </form>
  
          </div>
  
       
    </div>
  </section>
  
  
  
  
  
  
  

  
     



{% endblock %}