{% extends 'base.html' %}
{% block title %} {% endblock %}
    
{% block head %}


{% endblock %}

    {% block body %}
<h1>Hello </h1>
<h2>Dashboard</h2>
<ul>
    <li><a href="/cards">View all cards</a></li>
</ul>
<ul>
  <li><a href="/map">Store Locator</a></li>
</ul>

<form action="/create_deck" method="POST">
    <p>
        Deck Name <input type="text" name="deckName">
    </p>
    <p>
        <input type="submit">
    </p>
    </form>
</div>
<h1>View Decks</h1>
<form action="/deck" method="POST">
    <div class="dropdown">
      <div class="user-decks"> 
        <select name="Deck" id="deck-name">
        {% for deck in user_decks %}
       <option value="{{ deck.deck_id }}">{{ deck.deck_name }}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <input type="submit">
  </form>
<h3>Trading Posts</h3>

<form action="/posts" method="POST">
<div class="post-form">
<label for="post-title">Title:</label>
<p><input name="post_title" id="post_title" type="text" /></p>
<label for="post_text">Info:</label>
<p><input name="post_text" id="post_text" type="text" /></p>
 
<label for="owned-card-name">Exact card name you want to trade</label>
<p><input name="owned_card_name" id="card_name" type="text" /></p>

<label for="trade-card-name">Exact card name your looking to get</label>
<p><input name="trade_card_name" id="card_name" type="text" /></p>

</div>
<input type="submit">
</form>

 <!-- React column div-->
 <div id="container"></div>




<script src="/static/tradingposts.jsx" type="text/jsx"></script>

{% endblock %}